:root {
    --green-clr: #6efacc;
    --dark-black-clr: #14151c;
    --medium-black-clr: #2c2c33;
    --light-black-clr: #434449;
    --eee-clr: #eee;
    --white-clr: #f7f9ff;
    --medium-white-clr: #f8faff;
    --light-white-clr: #f9faff;
    --near-pure-white: #fefeff;
    --poppin-font: "Poppins", sans-serif;
    --playfair-font: "Playfair Display", serif;
    --semibold: 600;
    --bold: 700;
    --medium: 500;
    --normal: 400;
    --section-padding: 12vw 0;
    --h2-font: 2.7vw;
    --below-h2-para: 1.2vw;
  }


  .about_hero_section {
    margin: 0 auto;
    background-color: var(--white-clr);
    padding: 8vw 0;
    padding-bottom: 10vw;
  }

  .about_hero_section_wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
  }

  .about_hero_logo {
    opacity: 0.3;
  }

  .about_section_left {
    width: 40%;
  }

  

  .about_us_image_container {
    width: 100%;
    position: relative;
  }

  .about_hero_logo {
    width: 70%;
  }

  .about_us_head {
    position: absolute;
    color: var(--dark-black-clr);
    font-family: var(--playfair-font);
    font-size: 3vw;
    letter-spacing: 0.05vw;
    left: 3%;
    top: 26%;
    scale: 0;
  }

  .about_section_right {
    padding-top: 3vw;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    align-items: start;
    justify-content: start;
  }
  .about_para_upper{
    font-family: var(--playfair-font);
    font-weight: var(--medium);
    font-size: 1.7vw;
    color: var(--dark-black-clr);
    
  }
  .about_para_middle1, .about_para_middle2, .about_para_down{
    font-family: var(--poppin-font);
    font-weight: var(--medium);
    font-size: 1.3vw;
    color: var(--medium-black-clr);
  }

  #counter {
    width: 90%;
    margin: 0 auto;
    gap: 5vw;
  }

  .city {
    font-size: 2.5vw !important;
  }

  .about_image_marque_container {
    position: relative;
    width: 100%;
    padding: 2.5vw 0;
    height: 37vw;
    overflow: hidden;
    /* margin-bottom: 10vw; */
  }

  .about_marque {
    display: flex;
    animation: scrollleft 40s linear infinite;
  }

  .about_image_marque_container .about_marque img {
    width: 32vw;
    object-fit: cover;
    padding-right: 2vw;
  }

  .about_image_marque_container .about_marque span {
    display: flex;
    flex-direction: column;
    gap: 2vw;
  }

  .ab1,.ab4, .ab7, .ab10, .ab13{
    height: 32vw;
  }

  .ab2, .ab3, .ab5,.ab6, .ab8, .ab9, .ab11, .ab12 {
    height: 15vw;
  }

@keyframes scrollleft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-450%);
    }
}

.about_marque:hover {
    animation-play-state: paused;
    cursor: pointer;
}

/* Values and Mission starts here */

.values_and_mission {
    width: 100%;
    padding: var(--section-padding);
    background-color: var(--white-clr);
    position: relative;
}

.w_li {
    height: 76%;
}


.values_heading{
    color: var(--dark-black-clr);
    font-weight: var(--semibold);
    font-family: var(--playfair-font);
    font-size: 3vw;
    width: 90%;
    margin: 0 auto;
    text-align: start;
    padding-top: 4vw;
    padding-bottom: 10vw;
}

.values_boxes_container{
    width: 100%;
    background-color: var(--dark-black-clr);
    display: flex;
    flex-direction: column;
}

.first_box_container, .second_box_container, .third_box_container{
    width: 100%;
    height: 25vw;
    display: flex;
}

.value_box, .value_img_box, .values_para_box{
    width: calc(100%/3);
    height: 100%;
     
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s all;
}

.value_box{
    background-color: var(--dark-black-clr);
    transition: 0.5s all;
    position: relative;
}

.value{
    color: var(--white-clr);
    font-weight: var(--semibold);
    font-family: var(--playfair-font);
    font-size: 2.5vw;
    
} 
.values_para_box{
    background-color: var(--medium-black-clr);
    padding: 2vw;
    transition: 0.5s all 0.5s; 
}
.value_para{
    color: var(--white-clr);
    font-weight: var(--normal);
    font-family: var(--poppin-font);
    font-size: 1.3vw;
    text-align: center;
}

.value_img_box{
    background-color: var(--dark-black-clr);
    transition: 0.5s all;
}
.value_img_box img{
  width: 100%;
  height: 100%;  
}

.first_box_container:hover .first_value_box{
    transform: translateX(33.3vw);
}

.first_box_container:hover .first_img_box {
    transform: translateX(-33.3vw);
}
.first_box_container:hover .first_para_box {
    border: 2px solid var(--green-clr);
}
.second_box_container:hover .snd_value_box {
    transform: translateX(-66.55vw);
}
.second_box_container:hover .snd_img_box {
    transform: translateX(66.55vw);
}
.second_box_container:hover .snd_para_box{
    border: 2px solid var(--green-clr);
}
.third_box_container:hover .thrd_value_box {
    transform: translateX(33.3vw);
}
.third_box_container:hover .thrd_img_box {
    transform: translateX(-33.3vw);
}
.third_box_container:hover .thrd_para_box{
    border: 2px solid var(--green-clr);
}