:root {
    --green-clr: #6efacc;
    --dark-black-clr: #14151c;
    --medium-black-clr: #2c2c33;
    --light-black-clr: #434449;
    --eee-clr: #eee;
    --white-clr: #f7f9ff;
    --medium-white-clr: #f8faff;
    --light-white-clr: #f9faff;
    --near-pure-white: #fefeff;
    --poppin-font: "Poppins", sans-serif;
    --playfair-font: "Playfair Display", serif;
    --semibold: 600;
    --bold: 700;
    --medium: 500;
    --normal: 400;
    --section-padding: 12vw 0;
    --h2-font: 2.7vw;
    --below-h2-para: 1.2vw;
  }


  .about_hero_section {
    background-color: var(--white-clr);
  }

  .about_hero_logo {
    opacity: 0.3;
  }