:root {
  --green-clr: #6efacc;
  --dark-black-clr: #14151c;
  --medium-black-clr: #2c2c33;
  --light-black-clr: #434449;
  --eee-clr: #eee;
  --white-clr: #f7f9ff;
  --medium-white-clr: #f8faff;
  --light-white-clr: #f9faff;
  --near-pure-white: #fefeff;
  --poppin-font: "Poppins", sans-serif;
  --playfair-font: "Playfair Display", serif;
  --semibold: 600;
  --bold: 700;
  --medium: 500;
  --normal: 400;
  --section-padding: 12vw 0;
  --h2-font: 2.7vw;
  --below-h2-para: 1.2vw;
}

.absolute_logo_container {
  background-color: var(--white-clr);
}

.hero_wrapper {
  background-color: var(--white-clr);
  color: var(--dark-black-clr);
}

#hero_section {
  background-color: inherit;
  color: inherit;
}

#hero_title {
  color: var(--dark-black-clr);
  width: 90%;
}

#hero_para {
  color: var(--dark-black-clr);
}

#hero_work_btn:hover {
  color: var(--white-clr);
  background-color: var(--dark-black-clr);
}

#big_logo_container img {
  opacity: 0.4;
}

.strip, .striph {
  /* background-color: rgba(0, 0, 0, 0.2); */
  background-color: rgba(67, 68, 73, 0.3);
}

.striph {
  width: 00%;
  position: absolute;
  right: -15%;
  height: 1px;
}

.stripsh1 {
  top: -12%;
}

.stripsh2 {
  top: 8%;
}

.stripsh3 {
  top: 28%;
}

.stripsh4 {
  top: 48%;
}

.stripsh5 {
  top: 68%;
}

.stripsh6 {
  top: 88%;
}

.stripsh7 {
  top: 108%;
}

.stripsh8 {
  top: 128%;
}

.stripsh9 {
  top: 148%;
}

.stripsh10 {
  top: 168%;
}

.stripsh11 {
  top: 188%;
}

.stripsh12 {
  top: 208%;
}

/* #hero_work_slider {
  position: absolute;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5vw;
  left: 35%;
  
}

.hw_img {
  width: 25vw;
  height: 25vw;
  object-fit: cover;
} */

.marquee-container {
  position: absolute;
  overflow: hidden;
  left: 35%;
}

.marquee_img {
  display: flex;
  flex-direction: column;
  animation: scrollUp 20s linear infinite; /* Adjust speed with duration */
}

.hw_img {
  width: 25vw; /* Adjust width as needed */
  height: 25vw; /* Adjust height as needed */
  object-fit: cover;
  margin: 25px 0; /* Space between images */
}

@keyframes scrollUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%); /* Move up by half of the total height */
  }
}


.hero_img_1 {
  border: 2vw solid #6ba00d;
}

.hero_img_2 {
  border: 2vw solid #a2524b;
}

.hero_img_3 {
  border: 2vw solid #5f6064;
}

.hero_img_4 {
  border: 2vw solid #9e6944;
}

.hero_img_5 {
  border: 2vw solid #141218;
}

.hero_img_6 {
  border: 2vw solid #00b0d7;
}



#counter {
  width: 60%;
  display: flex;
  padding-top: 8vw;
  gap: 1vw;
}

#counter_box {
  width: 40%;
  height: 15vw;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  color: var(--light-white-clr);
  background-color: var(--dark-black-clr);
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5vw;
  padding-top: 2vw;
  padding-left: 3.5vw;
}

#counter_para {
  text-wrap: wrap;
  width: 50%;
}

/* MARQUE ********************************************************* */

/* MARQUE ********************************************************* */

.marquee {
  width: 100%;
  overflow: hidden;
}

.marquee-content {
  display: flex;
}

.item {
  width: fit-content;
  text-wrap: nowrap;
  padding: 20px;
  font-size: 24px;
  font-weight: var(--semibold);
  font-family: var(--playfair-font);
  align-self: normal !important;
}

/* WORK RELATED SECTION ************************************ */
.work_content {
  padding-top: 10vw;
  display: flex;
  flex-direction: column;
}

#work_head {
  font-size: 2vw;
  color: var(--dark-black-clr);
  font-family: var(--playfair-font);
  padding-bottom: 10px;
}

#work_para {
  width: 70%;
  font-size: 1.3vw;
  line-height: 1.3;
  color: var(--light-black-clr);
  font-family: var(--poppin-font);
  padding-bottom: 20px;
}
/* SWIPER JS CODE **************************************** */
.swiper {
  width: 100%;
  background-color: var(--dark-black-clr);  
}

.sw {
  padding: 30px;
}

.ss_slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw !important;
  height: 30vw !important;
  padding: 30px;
}

.color-1 {
  background-color: #839ADC;
}
.color-2 {
  background-color: #F87B8E;
}

.color-3 {
  background-color: #E0822B;
}
.color-4 {
  background-color: #F0CFBC;
}

.color-5 {
  background-color: #14B4A7;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* SWIPER JS CODE **************************************** */

.test_quotes {
  width: 55%;
  color: var(--dark-black-clr);
  margin-top: 5vw;
  position: relative;
}

.test_quotes span {
  position: absolute;
  top: -50%;
  display: inline-block;
  font-size: 10vw;
  font-family: var(--playfair-font);
}

.test_quotes .test_para {
  
  padding-left: 5vw;
  display: inline-flex;
  width: 100%;
  color: var(--light-black-clr);
  line-height: 1.3;
  font-family: var(--playfair-font);
}

.test_quotes address {
  display: inline-flex;
  justify-content: end;
  padding-top: 1vw;
  width: 100%;
  color: var(--light-black-clr);
  line-height: 1.3;
  font-family: var(--playfair-font);
}
/* WORK RELATED SECTION ************************************ */

/* BRAND FOUNDATION ***************************************** */
#section_container {
  padding-bottom: 5vw;
}
#business_step_section {
  padding: 0vw 0;
}
.sw_ {
  padding-bottom: 10vw;
}

#service_title {
  padding-top: 5vw;
  color: var(--dark-black-clr);
}

#service_para {
  color: var(--dark-black-clr);
} 

.business_pill {
  border: 2px solid var(--dark-black-clr);
  color: var(--dark-black-clr);
  font-weight: var(--semibold);
}

.business_pill.active {
  background-color: var(--dark-black-clr);
  color: var(--white-clr);
}

.brand_foundation {
  width: 100%;
  height: 5vw;
  background-color: var(--white-clr);
}

#s1 {
  width: 100%;
  position: relative;
  z-index: 0;
  overflow-x: hidden;
  height: auto;
  padding-bottom: 10vw;
}

#s2 {
  width: 100%;
  position: relative;
  z-index: 0;
  overflow-x: hidden;
  height: auto;
  padding-bottom: 10vw;
}

#s3 {
  width: 100%;
  position: relative;
  z-index: 0;
  overflow-x: hidden;
  height: auto;
  padding-bottom: 10vw;
}

.services_box {
  width: 90%;
  height: 38vw;
}

.services_box_left, .services_box_right {
  width: 50%;
  height: 100%;
}

.brand_foundation_wrapper {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.swiper-container-three {
  width: 100%;
  margin: 0 auto;
}

.swiper-container-four {
  width: 100%;
  margin: 0 auto;
}

.swiper-container-five {
  width: 100%;
  margin: 0 auto;
}

/* Style tab links */
.tablink {
  background-color: var(--white-clr);
  color: var(--dark-black-clr);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  /* padding: 1.5vw ; */
  height: 100%;
  font-size: 1.3vw;
  font-weight: var(--medium);
  letter-spacing: 0.1vw;
  width: 20%;
  cursor: pointer;
  transition: all 0.6s;
}

.tablink:hover {
  background-color: #ebebeb;
  color: var(--white-clr);
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: var(--white-clr);
  display: none;
  /* padding: 100px 20px; */
  height: 200vh;
}

#service_para, #service_title {color: var(--white-clr); width: 70%;}

#cta_process_title {
  width: 50%;
}

#Home {background-color: var(--dark-black-clr);}
#News {background-color: var(--dark-black-clr);}
#Contact {background-color: var(--dark-black-clr);}
#About {background-color: var(--dark-black-clr);}
/* BRAND FOUNDATION ***************************************** */

/* BRAND PROCESS START ****************************************** */
#brand_process_section {
  padding-top: 10vw;
  width: 100%;
  display: flex;
 
}

.brand_process_wrapper {
  width: 90%;
  margin: 0 auto;
  padding-top: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2vw;
}

.brand_sidebar {
  width: 25%;
  display: flex;
  gap: 1vw;
  flex-direction: column;
}


.sidebarLink {
  width: 100%;
  background-color: var(--white-clr);
  color: var(--dark-black-clr);
  border: none;
  outline: none;
  padding: 1.3vw 0;
  font-size: 1.3vw;
  font-weight: var(--medium);
  letter-spacing: 0.1vw;
  cursor: pointer;
  transition: all 0.6s;
}

.brandContent {
  color: var(--dark-black-clr);
}

#brand1,
#brand2,
#brand3,
#brand4 {
  width: 70%;
  display: flex;
  justify-content: flex-end;
}

.business_box_left {
  background-color: var(--dark-black-clr);
  width: 90%;
  height: 32vw;
}

.business_box_left span {
  color: var(--white-clr);
}

#service_paragraph {
  color: var(--white-clr);
  padding-bottom: 1vw;
  font-size: 1.4vw;
  width: 90%;
  line-height: 1.3;
}

.transform_brand_section {
  padding-bottom: 0 !important;
}
/* BRAND PROCESS END ****************************************** */

/* FAQ SECTION *********************************************** */
#faq_section {
  background-color: var(--dark-black-clr);
  color: var(--white-clr);
}

.w4_line, .w4_hor {
  background-color: rgba(247, 249, 255,0.3);
}

.icon-shape{
  background-color: var(--green-clr);
  color: var(--dark-black-clr);
}

.icon-shape::after, .icon-shape::before {
  background: var(--dark-black-clr) !important;
  z-index: 10;
}

.answer p {
  color: var(--white-clr);
}
/* FAQ SECTION *********************************************** */