@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  --green-clr: #6efacc;
  --dark-black-clr: #14151c;
  --medium-black-clr: #2c2c33;
  --light-black-clr: #434449;
  --eee-clr: #eee;
  --white-clr: #f7f9ff;
  --medium-white-clr: #f8faff;
  --light-white-clr: #f9faff;
  --near-pure-white:#fefeff;
  --poppin-font: "Poppins", sans-serif;
  --playfair-font: "Playfair Display", serif;
  --semibold: 600;
  --bold: 700;
  --medium: 500;
  --normal: 400;
  --section-padding: 12vw 0;
  --h2-font: 2.7vw;
  --below-h2-para: 1.2vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--dark-black-clr);
  color: var(--white-clr);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-track {
  background-color: var(--dark-black-clr);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--green-clr);
  border-radius: 0.5rem;
}

a {
  text-decoration: none;
  display: inline-block;
  color: var(--white-clr);
}

span {
  display: inline-block;
}

/* HEADER STARTS ******************************************************** */

#header {
  width: 100%;
  height: 6.5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0.5px 1px var(--light-white-clr);
  position: relative;
  z-index: 999;
  background-color: var(--medium-black-clr);
  position: fixed;
  top: 0;
}

#header-wrapper {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-wrapper #navbar .navlink {
  padding: 1vw 1.5vw;
  margin: 0 1vw;
  text-align: center;
  font-size: 1.3vw;
  font-family: var(--poppin-font);
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  overflow: hidden;
}

#logo img {
  width: 4vw;
}

#logo .company_name {
  font-size: 2vw;
  font-family: var(--playfair-font);
  color: var(--white-clr);
  font-weight: var(--semibold);
  font-weight: 500;
}

#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--poppin-font);
}

#navbar li {
  list-style: none;
}

#navbar li .nav_link {
  padding: 1vw 2vw;
  font-size: 1.2vw;
  transition: 0.3s ease;
  font-family: var(--poppin-font);
  color: var(--white-clr);
  font-weight: var(--medium);
}

#navbar li .nav_link:not(.contact .nav_link) {
  padding: 2.7vw 2vw;
}

#navbar li a:hover {
  color: var(--green-clr);
}

.blog {
  margin-right: 2vw;
}

.services {
  position: relative;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  color: var(--white-clr);
}

.services:hover {
  color: var(--green-clr) !important;
}

.services::after {
  content: "";
  width: 5px;
  height: 5px;
  border-top: 2px solid var(--white-clr);
  border-right: 2px solid var(--white-clr);
  position: absolute;
  top: 50%;
  transform: rotate(-45deg);
  right: 10%;
  transition: 0.6s;
}

.services:hover::after {
  transform: rotate(135deg);
  top: 45%;
  border-top: 2px solid var(--green-clr);
  border-right: 2px solid var(--green-clr);
}

.contact {
  background-color: var(--green-clr);
  font-weight: var(--semibold);
  transition: 0.3s ease;
}

.contact a {
  color: var(--dark-black-clr) !important;
  font-weight: var(--bold) !important;
}

.contact > a:hover {
  color: var(--dark-black-clr) !important;
  font-weight: var(--bold) !important;
  background-color: var(--white-clr) !important;
}

/* DROPDOWN START ********************************************************* */

#dropdown {
  position: absolute;
  z-index: 999;
  width: 60vw;
  /* height: 35vw; */
  height: fit-content;
  left: 34.8%;
  top: 100%;
  padding: 2vw;
  background-color: var(--medium-black-clr);
  margin-top: 0.1vw;
  gap: 1.5vw;
  border-bottom: 2px solid var(--green-clr);
  display: none;
  flex-wrap: wrap;
  animation-name: fadeIn;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.services_li:hover #dropdown {
  display: flex;
  opacity: 1;
}

.dropdown_link {
  width: calc(97.3% / 2);
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
  /* padding-bottom: 1vw; */
  padding: 1vw;
  background-color: var(--dark-black-clr);
  border: 0.5px solid var(--white-clr);
}

.dropdown_link:hover {
  border: 0.5px solid var(--green-clr);
}

.dropdown_link:hover .dropdown_image_container {
  border: 2px solid var(--green-clr);
}

.dropdown_link:hover .change_clr {
  fill: var(--white-clr);
  stroke: var(--white-clr);
}

.dropdown_link:hover .dropdown_title,
.dropdown_link:hover .dropdown_para {
  color: var(--green-clr);
}

.dropdown_image_container {
  width: 25%;
  height: 25%;
  border: 2px solid var(--white-clr);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5vw;
}

.dropdown_image_container svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  fill: var(--green-clr);
}

.dm {
  width: 30vw;
}

.dropdown_content {
  width: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 1.5vw;
  gap: 0.5vw;
}

.dropdown_title {
  font-size: 1.5vw;
  font-family: var(--playfair-font);
  font-weight: var(--semibold);
  color: var(--white-clr);
}

.dropdown_para {
  font-size: 1vw;
  line-height: 1.4;
  font-family: var(--poppin-font);
  font-weight: var(--medium);
  color: var(--medium-white-clr);
}
/* DROPDOWN END ********************************************************* */

/* HEADER ENDS ******************************************************** */

/* HERO START ***************************************************************** */

#hero_section {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--dark-black-clr);
  padding-top: 15vw;
  padding-bottom: 8vw;
  margin: 0 auto;
}

#hero_left {
  width: 60%;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1vw;
  color: var(--white-clr);
}

#hero_para {
  font-family: var(--poppin-font);
  font-weight: var(--normal);
  font-size: 1.3vw;
  color: var(--light-white-clr);
  padding-right: 8vw;
  line-height: 1.3;
  /* letter-spacing: 0.05vw; */
  padding-bottom: 2vw;
}

#hero_title {
  font-family: var(--playfair-font);
  font-size: 3vw;
  font-weight: var(--semibold);
  line-height: 1.3;
}

#hero_work_btn {
  font-family: var(--poppin-font);
  font-size: 1.5vw;
  color: var(--dark-black-clr);
  font-weight: var(--bold);
  padding: 1.2vw 4vw;
  background-color: var(--green-clr);
  transition: 0.6s;
  /* letter-spacing: 0.1vw; */
}

#hero_work_btn:hover {
  background-color: var(--white-clr);
  color: var(--dark-black-clr);
}

#hero_right {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  position: relative;
}

.strips0 {
  position: absolute;
  width: 0.2px;
  height: 190vh;
  background-color: rgba(247, 247, 255, 0.2);
  left: 30%;
}

.strips1 {
  position: absolute;
  width: 0.2px;
  height: 190vh;
  background-color: rgba(247, 247, 255, 0.2);
  left: 45%;
}

.strips2 {
  position: absolute;
  width: 0.2px;
  height: 190vh;
  background-color: rgba(247, 247, 255, 0.2);
  left: 60%;
}

.strips3 {
  position: absolute;
  width: 0.2px;
  height: 190vh;
  background-color: rgba(247, 247, 255, 0.2);
  left: 75%;
}

.strips4 {
  position: absolute;
  width: 0.2px;
  height: 190vh;
  background-color: rgba(247, 247, 255, 0.2);
  left: 90%;
}

.strips5 {
  position: absolute;
  width: 0.2px;
  height: 190vh;
  background-color: rgba(247, 247, 255, 0.2);
  left: 105%;
}

.strips6 {
  position: absolute;
  width: 0.2px;
  height: 190vh;
  background-color: rgba(247, 247, 255, 0.2);
  left: 120%;
}

#big_logo_container {
  position: absolute;
  width: 30vw;
  height: 30vw;
  right: -5vw;
  transform-origin: center;
  -webkit-animation: rotating 60s linear infinite;
  -moz-animation: rotating 60s linear infinite;
  -ms-animation: rotating 60s linear infinite;
  -o-animation: rotating 60s linear infinite;
  animation: rotating 60s linear infinite;
}

#big_logo_container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* HERO END ***************************************************************** */

/* COMPANY MARQUE STARTS ************************************************* */
#company_marque {
  width: 100%;
  height: 100vh;
}

#company_marque_name {
  display: inline-flex;
  align-items: center;
  gap: 5vw;
}

#company_marque_name img {
  width: 30vw;
}

#company_marque_name {
  letter-spacing: 1vw;
  font-size: 35vw;
  text-transform: uppercase;
  font-family: var(--playfair-font);
  color: var(--green-clr);
}
/* COMPANY MARQUE ENDS ************************************************* */

/* COUNTER STARTS ************************************************************ */
#counter {
  width: 50%;
  display: flex;
  padding-top: 8vw;
  gap: 1vw;
}

#counter_box {
  width: 25%;
  height: 15vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: var(--light-white-clr);
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5vw;
}

#counter_number {
  font-size: 2.8vw;
  font-weight: 400;
  color: var(--green-clr);
  position: relative;
  font-family: var(--playfair-font);
}

.num:after {
  content: "+";
}
.num_per:after {
  content: "%";
}

#counter_para {
  font-size: 1.5vw;
  text-wrap: wrap;
  letter-spacing: 0.1vw;
  text-align: start;
  font-family: var(--playfair-font);
}
/* COUNTER ENDS ************************************************************ */

/* FEATURED WORK SECTION START ***************************************************** */
#section_container {
  width: 100%;
  padding: var(--section-padding);
  background-color: var(--white-clr);
  position: relative;
}

.section_wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  justify-content: space-between;
}

#section_title {
  font-size: var(--h2-font);
  font-weight: var(--bold);
  color: var(--dark-black-clr);
  width: 50%;
  font-family: var(--playfair-font);
}

#section_para {
  font-size: var(--below-h2-para);
  font-weight: var(--semibold);
  color: var(--medium-black-clr);
  width: 45%;
  line-height: 1.3;
  font-family: var(--poppin-font);
  text-align: start;
}

#featured_work_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 5vw;
}

#featured_work_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40vw;
}

/* .anchor_ .fic {
  overflow: hidden;
}

.anchor_ .fic:hover img {
  transition: 0.6s linear;
}

.anchor_ .fic:hover img {
  transform: scale(1.2);
} */

#featured_work_anchor1 {
  width: 35%;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
}

#featured_work_anchor1 #featured_work_image-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 32vw;
}

#featured_work_anchor1 #featured_work_image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  transition: 0.6s;
}

#featured_work_anchor1 #featured_work_image-container:hover img {
  object-position: center;
}

#caption_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 1vw;
}

#caption_container figcaption {
  width: fit-content;
  letter-spacing: 0.05vw;
  font-size: 1vw;
  color: var(--dark-black-clr);
  font-weight: var(--semibold);
  font-family: var(--poppin-font);
  padding: 0.2vw 0;
}

#pill {
  display: block;
  padding-bottom: 0.5vw;
  text-align: end;
}

#featured_work_anchor2 {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-end;
}

#featured_work_anchor2 #featured_work_image-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 32vw;
}

#featured_work_anchor2 #featured_work_image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.6s;
}

#featured_work_anchor2 #featured_work_image-container:hover img {
  object-position: top;
}

#featured_work_middle_wrapper {
  height: 40vw;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vw;
  margin-bottom: 5vw;
}

#featured_work_anchor3 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#featured_work_anchor3 #featured_work_image-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 32vw;
}

#featured_work_anchor3 #featured_work_image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  transition: 0.6s;
}

#featured_work_anchor3 #featured_work_image-container:hover img {
  object-position: center;
}

#featured_work_anchor4 {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
}

#featured_work_anchor4 #featured_work_image-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 32vw;
}

#featured_work_anchor4 #featured_work_image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.6s;
}

#featured_work_anchor4 #featured_work_image-container:hover img {
  object-position: top;
}

#featured_work_anchor5 {
  width: 35%;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-end;
}

#featured_work_anchor5 #featured_work_image-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 32vw;
}

#featured_work_anchor5 #featured_work_image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.6s;
}

#featured_work_anchor5 #featured_work_image-container:hover img {
  object-position: top;
}

#featured_work_anchor6 {
  width: 35%;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
}

#featured_work_anchor6 #featured_work_image-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 32vw;
}

#featured_work_anchor6 #featured_work_image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  transition: 0.6s;
}

#featured_work_anchor6 #featured_work_image-container:hover img {
  object-position: top;
}

#featured_work_anchor7 {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-end;
}

#featured_work_anchor7 #featured_work_image-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 32vw;
}

#featured_work_anchor7 #featured_work_image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.6s;
}

#featured_work_anchor7 #featured_work_image-container:hover img {
  object-position: top;
}

#featured_work_anchor8 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#featured_work_anchor8 #featured_work_image-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 32vw;
}

#featured_work_anchor8 #featured_work_image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.6s;
}

#featured_work_anchor8 #featured_work_image-container:hover img {
  object-position: top;
}

#view_all_works {
  display: inline-block;
  font-size: 1.5vw;
  background-color: var(--green-clr);
  color: var(--dark-black-clr);
  font-weight: bold;
  font-family: var(--poppin-font);
  padding: 1.2vw 3.5vw;
  letter-spacing: 0.1vw;
  transition: 0.6s;
}

#view_all_works:hover {
  background-color: var(--dark-black-clr);
  color: var(--white-clr);
}

/* FEATURED WORK SECTION END ***************************************************** */

/* BLOGS START ********************************************************* */
#blog_section {
  padding: 10vw 0;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

#blog_title {
  width: 100%;
  font-size: 2.2vw;
  color: var(--green-clr);
  font-family: var(--playfair-font);
  letter-spacing: 0.1vw;
  font-weight: 400;
}

#blog_section_container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 5vw;
  padding-bottom: 5vw;
  gap: 5vw;
  border-bottom: 1px solid rgba(238, 238, 238, 0.4);
  cursor: pointer;
}

#blog_image_container {
  width: 30%;
}

#blog_image_container img {
  width: 100%;
}

#blog_right {
  width: 60%;
  font-family: var(--poppin-font);
  display: flex;
  flex-wrap: wrap;
  gap: 3vw;
  color: var(--light-white-clr);
}

#blog_topic {
  width: 100%;
  font-size: 1.4vw;
  letter-spacing: 0.1vw;
  color: var(--white-clr);
}

#blog_topic_title {
  width: 100%;
  /* letter-spacing: 0.1vw; */
  line-height: 1.3;

  font-size: 1.8vw;
}

#blog_read_time,
#blog_date {
  font-size: 1.2vw;
  letter-spacing: 0.1vw;
}

#more_insights {
  font-family: var(--playfair-font);
  font-size: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  width: fit-content;
  margin: 0 auto;
  transition: 0.6s;
  color: var(--green-clr);
  padding: 2vw;
  font-weight: 300;
}

#more_insights:hover {
  color: var(--white-clr);
}

#more_insights span {
  font-size: 3vw;
  color: var(--green-clr);
  transition: 0.6s;
}

#more_insights:hover span {
  transform: translateX(1vw);
}

/* BLOGS END ********************************************************* */
