@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

:root {
    --background-color: #141414;
    --font-color: #ffffff;
    --brand-color: #ff6812;
    --line-color: #999;
    --font-family: "Merienda", cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    background-color: #000000;
    color: #3d3d4e;
}

::-webkit-scrollbar {
    width: 0.3rem;

}

::-webkit-scrollbar-track {
    background-color: var(--background-color);
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--brand-color);
    border-radius: 0.5rem;
}

a {
    text-decoration: none;
}


/* HEADER ************************************************** */
.header {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-left: 3vw;
    padding-right: 3vw;
}

.logo {
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a {
    color: var(--font-color);
    letter-spacing: 0.5vw;
    font-weight: 700;
}

.logo i {
    color: var(--brand-color);
    font-size: 4vw;
}


.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 2vw;
    font-size: 1.4vw;
}

.navbar li a {
    color: var(--font-color);
    transition: 0.5s;
    display: inline-block;
}

.navbar li a:hover {
    color: var(--brand-color);
}

#dropdown {
    display: none;
}

#dropdown a {
    padding: 1vw 2vw;
}

.comp_arr {
    display: inline-block;
    transition: 0.5s;
}

.company {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.company:hover .comp_arr {
    transform: rotate(180deg);
}

.company:hover #dropdown {
    width: 15vw;
    position: absolute;
    z-index: 2;
    top: 102%;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    background-color: #3d3d4e;
}

.company:hover a {
    background-color: #3d3d4e;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact a {
    position: relative;
    padding: 1vw 3.2vw;
    border: 2px solid var(--brand-color);
    font-size: 1.4vw;
    letter-spacing: 0.1vw;
    color: var(--brand-color);
    border-radius: 1vw;
    overflow: hidden;
    transition: all 0.3s;
}


.contact a:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    border-radius: 0.3vw;
    background-color: var(--brand-color);
    transform: translateX(-100%);
    transition: all 0.3s;
    z-index: -1;
    /* padding: 0vw 4vw; */

}

.contact a:hover::before {
    transform: translateX(0%);


}

.contact a:hover {
    color: var(--font-color);

}

.contact a:active {
    transform: translateY(0.5vw);
    background-color: var(--brand-color);
}

/* MAIN ********************************************************** */
.main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* HERO ********************************************************* */
.hero_section {
    width: 93%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}


.upper_section {
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: space-between;
    gap: 2vw;
}

.hero_title {
    text-transform: uppercase;
    color: var(--font-color);
    width: 60%;
    font-size: 6vw;
    line-height: 1.3;
}

.hero_title span {
    color: var(--brand-color);
    font-family: var(--font-family);
    letter-spacing: 0.5vw;
}

.brand {
    font-family: "Merienda", cursive;
    letter-spacing: 0.5vw;
}

.v1_para {
    width: 40%;
}

.explore {
    font-size: 5vw;
    color: var(--brand-color);
    width: 100%;
    height: 18vh;
    display: flex;
    align-items: center;
    /* border: 5px solid var(--font-color); */
    margin-top: 1.5vw;
    border-top-left-radius: 10vw;
    border-bottom-left-radius: 10vw;
    position: relative;
    overflow: hidden;
}

.v1 {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

.circ_play {
    /* border: 2px solid var(--font-color); */
    width: 11.5vw;
    height: 11.5vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_para {
    font-size: 1.5vw;
    padding-top: 1vw;
    text-align: end;
    line-height: 1.3;
    color: var(--font-color);
}


.hero_title_remain {
    width: 42%;
    font-size: 6vw;
    text-align: end;
    color: var(--font-color);
    text-transform: uppercase;
}

.hero_title_remain span {
    color: var(--brand-color);
}

.bottom_section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2vw;
}

.workbox {
    width: 58%;
    height: 15vw;
    border-radius: 3vw;
}

.workbox .v2 {
    width: 100%;
    height: 100%;
    border-radius: 3vw;
    object-fit: cover;
    object-position: center;
}

/* MARQUE ******************************************** */

.marquee {
    position: absolute;
    width: 93%;
    height: 15%;
    top: 110%;
    font-size: 3vw;
    padding: 2vw 0;
    color: var(--font-color);
    text-transform: uppercase;
    font-weight: 700;
    overflow: hidden;
    border-top: 0.5px solid var(--line-color);
    border-bottom: 0.5px solid var(--line-color);
}

.track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 20s linear infinite;
}

.content {
    color: var(--font-color) !important;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-35%);
    }
}

.ri-shining-fill {
    color: var(--brand-color);
}


/* ABOUT US ****************************************** */
.about_section {
    border-bottom: .5px solid var(--line-color);
    width: 93%;
    height: 100vh;
    margin-top: 5vw;
}

.about_wrapper {
    width: 90%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.about_title {
    width: 100%;
    font-size: 3.2vw;
    color: var(--brand-color);
    text-transform: capitalize;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.about_title a {
    color: inherit;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.about_arr {
    color: var(--brand-color);
    font-size: 3.6vw;
    display: inline-flex;
    transition: 0.5s;
}


.about_title a:hover .about_arr {
    transform: translate(1vw, -1vw);
}


.about_para {
    width: 93%;
    font-size: 2.7vw;
    color: var(--font-color);
    line-height: 1.2;
    letter-spacing: 0.1vw;
}

.about_para span {
    color: var(--brand-color);
}

.about_bottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.why_container {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: self-start;
    padding-top: 2vw;
}

.whyus {
    position: relative;
    font-size: 2.3vw;
    color: var(--brand-color);
    font-weight: 500;
    padding: 1vw 3.2vw;
    border: 2px solid var(--brand-color);
    border-radius: 1vw;
    display: inline-flex;
    height: 11.5vh;
    line-height: 1.35;
    overflow: hidden;
}

.whyus::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.5vw;
    background-color: var(--brand-color);
    transform: translateX(-100%);
    transition: all 0.3s;
    z-index: -1;
}

.whyus:hover::before {
    transform: translateX(0);
}

.whyus:hover {
    color: var(--font-color);


}

.whyus:active {
    transform: translateY(0.5vw);
    background-color: var(--brand-color);
}

.about_second_para {
    font-size: 1.23vw;
    width: 65%;
    text-align: start;
    color: var(--font-color);
    line-height: 1.5;
    letter-spacing: 0.13vw;
}

/* SERVCIES ****************************************** */
.service_section {
    width: 93%;
    margin-top: 5vw;
    color: var(--font-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.service_wrapper {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.service_title {
    width: 100%;
    font-size: 3.2vw;
    color: var(--brand-color);
    text-transform: capitalize;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 3.5vw;
}

.service_para {
    width: 58%;
    font-size: 2.7vw;
    color: var(--font-color);
    line-height: 1.2;
    letter-spacing: 0.1vw;
}

.service_para span {
    color: var(--brand-color);
}

.pills-wrapper {
    width: 42%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 1vw 0;
    gap: 1vw;
}

.pill {
    font-size: 1.6vw;
    padding: 0.5vw 3.5vw;
    border: 2px solid var(--font-color);
    color: var(--font-color);
    border-radius: 2rem;
    background-color: transparent;
    cursor: pointer;
    transition: 0.6s;
}

.pillu {
    color: var(--font-color);
    transition: 0.6s;
}

.pill-active {
    border: 2px solid var(--brand-color);
    color: var(--brand-color);
}

.pill-icon-active {
    color: var(--brand-color);
}

.upper-half-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vw;
}

.service-categories {
    width: 100%;
    padding: 2rem;
}

.tabcontent {
    display: none;
}

.category {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3vw;
    padding: 1.7rem;
    border-bottom: 2px solid var(--line-color);
    cursor: pointer;
    transition: 0.6s;
    position: relative;
}

.cat1 {
    border-top: 2px solid var(--line-color);
}

.service-name {
    font-weight: 500;
    color: var(--font-color);
    transition: 0.6s;
}

.arr {
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
}

.service-icon {
    color: var(--brand-color);
    transition: 0.6s;
}

.category:hover {
    background-color: #222;
    transform: scale(1.05);
}

.category:hover .service-name::after {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--brand-color);
    display: inline-block;
    margin-left: 1rem;
    transition: 0.6s;
}

.category:hover .service-name {
    color: var(--brand-color);
}

.category:hover .service-icon {
    color: var(--background-color);
}

.category:hover .arr {
    background-color: var(--brand-color);
    transition: 0.6s;
}

.service-img {
    position: absolute;
    top: 2.5rem;
    right: 20%;
    width: 5rem;
    border-radius: 1rem;
    transform: scale(0);
    transition: 0.6s;
}

.category:hover .service-img {
    transform: scale(3.5);
}

/* MAIN ********************************************************** */