{% extends 'base.html' %}
{% load static %}


<!-- CSS LINKS ******************************************************* -->
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
{% endblock %}

{% block content %}

<style>
    .four_wrapper {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .four_o_four_error {
        font-size: 4vw;
        color: #6efacc;
    }

    .four_para {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .four_para a {
        font-size: 3vw;
        color: white;
    }

    .four_para a:hover {
        color: #6efacc;
    }
</style>

<div class="four_wrapper">
    <h1 class="four_o_four_error">404 ERROR</h1>
    <p class="four_para"><a href="{% url 'home' %}">Go Back To Home Page</a></p>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/animation.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>

{% endblock %}