{% extends 'base.html' %}
{% load static %} 
 <!-- META TITLE ************************************************* -->
  {% block title %} About JSwebart | Creative Branding, Design &amp; Digital Experts {% endblock %}
 <!-- META TITLE ************************************************* -->

 <!-- META ******************************************************* -->
 {% block meta %}
    <meta name="description"
    content="We are JSwebart, a creative branding and design agency committed to transforming businesses through creativity and strategic thinking!" />
    <link rel="canonical" href="https://jswebart.com/about-us/" />
 {% endblock %}
 <!-- META ******************************************************* -->
 
 <!-- CSS LINKS ******************************************************* -->
  {% block stylesheet %} 
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/services.css' %}" />
  <link rel="stylesheet" href="{% static 'css/about-us.css' %}" />
  <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  {% endblock %}
 <!-- CSS LINKS ******************************************************* -->
  
{% block content %}
  <!-- ABOUT HERO SECTION START ******************************************* -->
  <section class="about_hero_section">
    <div class="about_hero_section_wrapper">
      <div class="about_section_left">
        <figure class="about_us_image_container">
          <img class="about_hero_logo" src="{% static 'img/jswebart_logo_big_black.svg' %}" alt="" />
          <h1 class="about_us_head">About JSWebart</h1>
        </figure>
      </div>
      <div class="about_section_right">
        <p class="about_para_upper">
          JSwebart is an agency that integrates human psychology, behavioral
          economics, and cultural elements into design and technology to
          create impactful brand identities that deliver measurable results.
        </p>
        <p class="about_para_middle1">
          Our team of strategic thinkers, creative designers, developers, and
          marketing specialists is dedicated to bringing out the best in every
          project. We believe that "A brand with a clear mission, vision, and
          identity creates a lasting impression on people's minds and
          influences their choices."
        </p>
        <p class="about_para_middle2">
          To make them a top choice of the customers, we give them unique
          identities and use strategic marketing to ensure they shine on the
          web.
        </p>
        <p class="about_para_down">
          Our mission is to help brands grow that have the vision to
          positively change people's lives in a meaningful way. With our
          comprehensive services and "client centric" values the JSwebart team
          is here to be the part of your success journey.
        </p>
      </div>
    </div>

    <!-- COUNTER SCROLL START ********************************** -->
    <div id="counter">
      <div id="counter_box">
        <h2 id="counter_number" class="num" data-val="120">00</h2>
        <p id="counter_para">Projects Completed</p>
      </div>
      <div id="counter_box">
        <h2 id="counter_number" class="num" data-val="9">00</h2>
        <p id="counter_para">Team Strength</p>
      </div>
      <div id="counter_box">
        <h2 id="counter_number" class="num" data-val="6">00</h2>
        <p id="counter_para">Years In Industry</p>
      </div>
      <div id="counter_box">
        <span id="counter_number" class="city">Mumbai</span>
        <p id="counter_para">Headquarter</p>
      </div>
    </div>
    <!-- COUNTER SCROLL END ********************************** -->
  </section>
  <!-- ABOUT HERO SECTION START ******************************************* -->

  <section class="about_image_marque_container">
    <div class="about_marque">
      <!-- Original images -->
      <img class="ab1" src="{% static 'img/about1.jpg' %}" alt="" />
      <span>
        <img class="ab2" src="{% static 'img/about2.webp' %}" alt="" />
        <img class="ab3" src="{% static 'img/about11.jpg' %}" alt="" />
      </span>
      <img class="ab4" src="{% static 'img/about4.jpg' %}" alt="" />
      <span>
        <img class="ab5" src="{% static 'img/about5.jpg' %}" alt="" />
        <img class="ab6" src="{% static 'img/about6.jpg' %}" alt="" />
      </span>
      <img class="ab7" src="{% static 'img/about7.webp' %}" alt="" />
      <span>
        <img class="ab8" src="{% static 'img/about8.jpg' %}" alt="" />
        <img class="ab9" src="{% static 'img/about9.jpg' %}" alt="" />
      </span>
      <img class="ab10" src="{% static 'img/about3.jpg' %}" alt="" />
      <span>
        <img class="ab11" src="{% static 'img/about10.jpg' %}" alt="" />
        <img class="ab12" src="{% static 'img/about12.jpg' %}" alt="" />
      </span>
      <img class="ab13" src="{% static 'img/about13.webp' %}" alt="" />

      <!-- DUBLICATE -->
      <img class="ab1" src="{% static 'img/about1.jpg' %}" alt="" />
      <span>
        <img class="ab2" src="{% static 'img/about2.webp' %}" alt="" />
        <img class="ab3" src="{% static 'img/about11.jpg' %}" alt="" />
      </span>
      <img class="ab4" src="{% static 'img/about4.jpg' %}" alt="" />
      <span>
        <img class="ab5" src="{% static 'img/about5.jpg' %}" alt="" />
        <img class="ab6" src="{% static 'img/about6.jpg' %}" alt="" />
      </span>
      <img class="ab7" src="{% static 'img/about7.webp' %}" alt="" />
      <span>
        <img class="ab8" src="{% static 'img/about8.jpg' %}" alt="" />
        <img class="ab9" src="{% static 'img/about9.jpg' %}" alt="" />
      </span>
      <img class="ab10" src="{% static 'img/about3.jpg' %}" alt="" />
      <span>
        <img class="ab11" src="{% static 'img/about10.jpg' %}" alt="" />
        <img class="ab12" src="{% static 'img/about12.jpg' %}" alt="" />
      </span>
      <img class="ab13" src="{% static 'img/about13.webp' %}" alt="" />
    </div>
  </section>

  <!-- Values and Mission Section starts here ******************************** -->

  <section class="values_and_mission">
    <div class="work_lines_container">
      <div class="w1 w_li"></div>
      <div class="w2 w_li"></div>
      <div class="w3 w_li"></div>
      <div class="w4 w_li"></div>
      <div class="w5 w_li"></div>
      <div class="w6 w_li"></div>
      <div class="w7 w_li"></div>
      <div class="w8 w_hor"></div>
      <div class="w9 w_hor"></div>
      <!-- <div class="w10 w_hor"></div> -->
      <div class="w11 w_li"></div>
      <div class="w12 w_li"></div>
    </div>

    <h2 class="values_heading">Values That Drives Us</h2>
    <div class="values_boxes_container">
      <div class="first_box_container">
        <div class="value_box first_value_box vbc">
          <h3 class="value"> Creativity</h3>
        </div>
        <div class="value_img_box first_img_box vbc">
          <img src="{% static 'img/About_img/value1.jpg' %}" alt="">
        </div>
        <div class="values_para_box first_para_box vbc">
          <p class="value_para">Creativity goes beyond just an idea or concept. It serves as a key tool for achieving
            success in marketing, design, and solving challenges. We craft brands in a way that no one else has ever
            thought of before.</p>
        </div>
      </div>
      <!-- second Value -->
      <div class="second_box_container">
        <div class="value_img_box snd_img_box vbc">
          <img src="{% static 'img/About_img/value2.jpg' %}" alt="">
        </div>
        <div class="values_para_box snd_para_box vbc">
          <p class="value_para">Passion is a continuous flowing energy. Our passion for branding and marketing ignites
            us to work day and night on every project to make it a thriving reality. We are passionate about helping you
            in making your idea a brand whether it's at a startup level or is a small business or an enterprise.</p>
        </div>
        <div class="value_box snd_value_box vbc">
          <h3 class="value">Passion</h3>
        </div>


      </div>
      <!-- Third value -->
      <div class="third_box_container">
        <div class="values_para_box thrd_para_box vbc">
          <p class="value_para">Creativity goes beyond just an idea or concept. It serves as a key tool for achieving
            success in marketing, design, and solving challenges. We craft brands in a way that no one else has ever
            thought of before.</p>
        </div>
        <div class="value_box thrd_value_box vbc">
          <h3 class="value"> Excellence</h3>
        </div>
        <div class="value_img_box thrd_img_box vbc">
          <img src="{% static 'img/About_img/value3.jpg' %}" alt="">
        </div>

      </div>
    </div>

    <div class="mission_container">
      <h2 class="mission_heading">What We Stand For</h2>
      <div class="mission_list_container">
        <div class="mission_box first_mission_box">
          <h3 class="mission">Crafting visionary brands for A Profound impact</h3>
          <p class="mission_para first_mission">Our mission is to build brands that leave a meaningful, lasting
            impression. We focus on crafting authentic identities that connect with people and inspire trust, ensuring
            your brand makes a difference in the long term.</p>
        </div>
        <!-- second mission -->
        <div class="mission_box second_mission_box">
          <h3 class="mission">Bringing Positive Change In The World</h3>
          <p class="mission_para">This mission is guiding light of our strategy, values, and approach that we follow
            while working on any idea. We strive for building brands that focus on solving any problem or bringing ease
            of life for humanity at large.</p>
        </div>
        <!-- Third MIssion -->
        <div class="mission_box third_mission_box">
          <h3 class="mission">Memorable Identity Through Strategic Design</h3>
          <p class="mission_para">JSwebart is the top branding and marketing agency that focus on strategic design for
            sustainable growth. We build brand identities that reflect purpose and vision, ensuring businesses connect
            with their audiences and achieve measurable success.</p>
        </div>
        <!-- Forth Mission -->
        <div class="mission_box forth_mission_box">
          <h3 class="mission">Purpose-Driven Branding For Sustainable Growth</h3>
          <p class="mission_para">Our mission is to create purposeful brands that resonate deeply with their audiences.
            We build brands with clear vision and values, helping businesses grow by staying true to their core purpose.
            A brand with purpose knows it's growth strategy clearly and take actions to achieve it.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Values and Mission Section endss here ******************************** -->


  <!-- OUR CAPABILITIES ************************************************* -->

  <section class="capabilities_section">
    <h2 class="capabilities_head">
      Our Capabilities
    </h2>

    <div class="capabilities_container">
      <a href="{% url 'branding_services' %}" class="capabilities_circle cc1">
        <h3 class="capability_name">Crafting Brands</h3>
        <div class="capabilities_points_container">
          <div class="capabilities_points cp1">Brand Strategy</div>
          <div class="capabilities_points cp1">Brand Messaging</div>
          <div class="capabilities_points cp1">Visual Identity</div>
          <div class="capabilities_points cp1">Rebranding</div>
          <div class="capabilities_points cp1">Product Maintenance</div>
          <div class="capabilities_points cp1">Brand Campaigns</div>
        </div>
      </a>
      <a href="{% url 'ui_ux_services' %}" class="capabilities_circle cc2">
        <h3 class="capability_name">UI/UX design</h3>
        <div class="capabilities_points_container">
          <div class="capabilities_points cp2">User Interface Design</div>
          <div class="capabilities_points cp2">User Experience Research</div>
          <div class="capabilities_points cp2">Wireframing & Prototyping</div>
          <div class="capabilities_points cp2">Usability Testing</div>
          <div class="capabilities_points cp2">Interaction Design</div>
          <div class="capabilities_points cp2">Information Architecture</div>
          
        </div>
      </a>
      <a href="{% url 'web_development_services' %}" class="capabilities_circle cc3">
        <h3 class="capability_name">Web Development</h3>
        <div class="capabilities_points_container">
          <div class="capabilities_points cp3">Website Revamp</div>
          <div class="capabilities_points cp3">Static Website</div>
          <div class="capabilities_points cp3">Backend Development</div>
          <div class="capabilities_points cp3">Full Stack Development</div>
          <div class="capabilities_points cp3">Deployment</div>
          <div class="capabilities_points cp3">Website Maintenance</div>
        </div>
      </a>
      <a href="{% url 'digital_marketing_services' %}" class="capabilities_circle cc4">
        <h3 class="capability_name">Digital Marketing</h3>
        <div class="capabilities_points_container">
          <div class="capabilities_points cp4">Search Engine Optimization (SEO)</div>
          <div class="capabilities_points cp4">Search Engine Marketing (SEM)</div>
          <div class="capabilities_points cp4">Social Media Optimization (SMO)</div>
          <div class="capabilities_points cp4">Social Media Marketing (SMM)</div>
          <div class="capabilities_points cp4">Content Marketing</div>
          <div class="capabilities_points cp4">Web Analytics</div>
        </div>
      </a>
      <a href="{% url 'packaging_design_services' %}" class="capabilities_circle cc3">
        <h3 class="capability_name">Brand Packaging</h3>
        <div class="capabilities_points_container">
          <div class="capabilities_points cp3">Custom Packaging</div>
          <div class="capabilities_points cp3">Retail Packaging</div>
          <div class="capabilities_points cp3">Eco-friendly Packaging</div>
          <div class="capabilities_points cp3">Luxury Packaging</div>
          <div class="capabilities_points cp3">Box Packaging</div>
          <div class="capabilities_points cp3">Label Design</div>
        </div>
      </a>
      <a href="{% url 'print_design_services' %}" class="capabilities_circle cc4">
        <h3 class="capability_name">Print Design</h3>
        <div class="capabilities_points_container">
          <div class="capabilities_points cp4">Brochures</div>
          <div class="capabilities_points cp4">Flyers</div>
          <div class="capabilities_points cp4">Business Cards</div>
          <div class="capabilities_points cp4">Postcard</div>
          <div class="capabilities_points cp4">Catalogue</div>
          <div class="capabilities_points cp4">Signages</div>
        </div>
      </a>
    </div>

  </section>

  <!-- OUR CAPABILITIES ************************************************* -->

  <!-- MEET THE TEAM SECTION START *************************************** -->

  <section class="meet_team_section">
    <div class="work_lines_container">
      <div class="w1 w_li2"></div>
      <div class="w2 w_li2"></div>
      <div class="w3 w_li2"></div>
      <div class="w4 w_li2"></div>
      <div class="w5 w_li2"></div>
      <div class="w6 w_li2"></div>
      <div class="w7 w_li2"></div>
      <div class="w8 w2_hor"></div>
      <div class="w9 w2_hor"></div>
      <!-- <div class="w10 w2_hor"></div> -->
      <div class="w11 w_li2"></div>
      <div class="w12 w_li2"></div>
    </div>

    <div class="meet_team_wrapper">
      <h2 class="meet_team_heading">Meet The Team</h2>
      <div class="founder_bar_container">
        <div class="founder_bar">
          <div class="founder_image_caption">
            <figure class="founder_image">
              <img class="ship" src="{% static 'img/jaanu.jpg' %}" alt="">
            </figure>
            <h4 class="founder_name">Shipra</h4>
            <p class="founder_designation">Founder and Digital Marketer</p>
          </div>
          <div class="founder_quote">
            <span>❝</span>
            <p>We are sure to make your brand shine everywhere on the digital world. Let's work together and make your
              brand a name that speaks for itself.</p>
          </div>
        </div>
        <div class="founder_bar">
          <div class="founder_quote fme">
            <span>❝</span>
            <p>Let's collaborate and create exceptional brands that bring positive change in the world and drive success. We're excited to welcome you aboard.</p>
          </div>
          <div class="founder_image_caption fme2">
            <figure class="founder_image">
              <img style="object-fit: cover;object-position: 0px -55px;" src="{% static 'img/aaku8.jpg' %}" alt="">
            </figure>
            <h4 class="founder_name">Jit</h4>
            <p class="founder_designation">Founder and Software Engineer</p>
          </div>
        </div>
        <div class="founder_bar">
          <div class="founder_image_caption">
            <figure class="founder_image">
              <img src="{% static 'img/suju.jpg' %}" alt="">
            </figure>
            <h4 class="founder_name">Suraj</h4>
            <p class="founder_designation">Senior Graphic Designer</p>
          </div>
          <div class="founder_quote">
            <span>❝</span>
            <p> Let's take you to the world of design where colors speak, typography defines, and lines connect your vision to reality.</p>
          </div>
        </div>
        <div class="team_container">
          <div class="founder_image_caption">
            <figure class="founder_image">
              <img style="object-position: top;" src="{% static 'img/ankit.jpg' %}" alt="">
            </figure>
            <h4 class="founder_name">Ankit</h4>
            <p class="founder_designation">Marketing Strategist</p>
          </div>
          <div class="founder_image_caption">
            <figure class="founder_image">
              <img style="object-fit: contain;width: 25vw;height: 25vw;" src="{% static 'img/jswebart_logo.svg' %}" alt="">
            </figure>
            <h4 class="founder_name">Radhika</h4>
            <p class="founder_designation">Marketing Strategist</p>
          </div>
          <div class="founder_image_caption">
            <figure class="founder_image">
              <img src="{% static 'img/vishal.jpg' %}" alt="">
            </figure>
            <h4 class="founder_name">Vishal</h4>
            <p class="founder_designation">Content Marketer</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- MEET THE TEAM SECTION END *************************************** -->


  <!-- CTA PROCESS START *********************************************** -->

  <section id="cta_process_section" class="cta">
    <div class="cta_process_wrapper cta_mob above_cta">
      <div class="cta_lines_container">
        <div class="cl1"></div>
        <div class="cl2"></div>
        <div class="cl3"></div>
        <div class="cl4"></div>
        <div class="cl5"></div>
        <div class="cl6"></div>
        <div class="ch1"></div>
        <div class="ch2"></div>
        <div class="ch3"></div>
        <div class="ch4"></div>
        <div class="ch5"></div>
        <div class="ch6"></div>
        <div class="ch7"></div>
        <div class="ch8"></div>
        <div class="ch9"></div>
        <div class="ch10"></div>
        <div class="ch11"></div>
        <div class="ch12"></div>
        <div class="ch13"></div>
        <div class="ch14"></div>
        <div class="ch15"></div>
        <div class="ch16"></div>
        <div class="ch17"></div>
        <div class="ch18"></div>
        <div class="ch19"></div>
      </div>
      <div class="cta_left">
        <h2 id="cta_process_title">Ready to Elevate Your Brand?</h2>
        <p id="cta_para">Our expert team is here to bring your vision to life with customized solutions that drive growth.</p>
      </div>
      <a href="{% url 'contact' %}" id="contact_cta_btn" class="work_together_btn">Let’s Work Together</a>
    </div>
  </section>

  <!-- CTA PROCESS END *********************************************** -->
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
  integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
  integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="{% static 'js/animation.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>

{% endblock %}