{% load static %}
<!DOCTYPE html>
<html lang="en">
 
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% block meta %} {% endblock %} 
  <title>{% block title %} {% endblock %}</title>
  <link rel="shortcut icon" href="{% static 'favicon.png' %}" type="image/x-icon" />
  {% block stylesheet %} 
  {% endblock %}
  {% block style %} {% endblock %}
</head>

<body>
    <!-- HEADER START *********************************************************** -->
        {% include 'includes/header.html' %}
    <!-- HEADER END ************************************************************** -->

    <!-- MAIN START ******************************************************************* -->
        {% block content %}

        {% endblock %}
    <!-- MAIN END ******************************************************************* -->

    <!-- FOOTER STARTS ************************************************************** -->
        {% include 'includes/footer.html' %}
    <!-- FOOTER END ************************************************************** -->

    {% block scripts %} {% endblock %}
</body>

</html>    