{% extends 'base.html' %}
{% load static %}

{% block title %} JSwebart-{{post.title}} {% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" href="{% static 'css/about-us.css' %}" />
<link rel="stylesheet" href="{% static 'css/blog_detail.css' %}">
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
{% endblock %}

{% block content %}
    <!-- HERO SECTION START *********************************************** -->
    <section class="blog_detail_hero_section">
        <figure class="cover_img">
            <img src="{{ page.image.url }}" alt="{{ page.title }}" alt="">
        </figure>
        <div class="cover_part">
            <div class="cover_content_container">
                <p class="category_name">{{page.categories.name}}</p>
                <h1 class="blog_detail_title">{{ page.title }}</h1>
                <div class="cover_bottom">
                    <address class="writtenby">Written by <a href="{% url 'home' %}">JSwebart</a></address>
                    <p class="timeandreadtime">
                        {{ page.created_at|date:"j F Y" }}
                    </p>
                    <p class="timeandreadtime">
                        {{ page.get_total_read_time }} min read
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- HERO SECTION END *********************************************** -->

    <!-- BLOG DETAIL SECOND SECTION START ********************************************* -->
    <section class="blog_detail_second_section">
        <div class="blog_detail_section_wrapper">
            <div class="blog_detail_second_left">
                <div class="blog_detail_second_left_para">{{page.desc | safe}}</div>
                <ul class="blog_detail_second_left_unorder_list">
                    <p class="blog_detail_second_left_para_2">
                        The key topics you will learn in this post:
                    </p>
                    {% for section in sections %}
                        {% if section.heading %}
                            <li><a href="#section-{{ forloop.counter }}">{{section.heading}}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="blog_detail_second_right">
                <div class="tab_left">
                    <div class="brand_logo_blog_container">
                        <figure class="brand_logo_blog">
                            <img src="{% static 'img/jswebart_logo.svg' %}" alt="">
                        </figure>
                        <h3 class="brand_name">JSwebart</h3>
                    </div>
                    <p class="blog_detail_second_right_para">
                        JSwebart is one of the leading branding and design agencies, with more than 6 years of expertise in the industry. Within this period, our team has delivered exceptional brands that are impacting future on local, national and global levels. Apart from <a href="{% url 'branding_services' %}">brand identity design</a>, Jswebart also provides <a href="{% url 'ui_ux_services' %}">UI/UX design</a>, <a href="{% url 'web_development_services' %}">web development</a>, <a href="{% url 'packaging_design_services' %}">packaging design</a>, <a href="{% url 'digital_marketing_services' %}">digital marketing</a> and <a href="{% url 'print_design_services' %}">print design services</a>.
                    </p>
                    <div class="blog_social_link_container">
                        <a href="">Linkedin</a>
                        <a href="">Instagram</a>
                        <a href="">Facebook</a>
                        <a href="">Twitter</a>
                    </div>
                </div>
                <div class="insights_container">
                    <p class="insights_para">Subscribe for insights, case studies, and updates penned by the experts at
                        JSwebart.</p>
                    <form action="" method="POST" class="insights_form" id="subscriptionForm">
                        {% csrf_token %}
                        <div class="form_input">
                            <input type="email" name="email" placeholder="Enter Your Email" id="">
                        </div>
                        <button class="subscribe" type="submit">Subscribe</button>
                    </form>
                    <!-- {% for message in messages %}
                        <p class="subscribe_message">{{ message }}</p>
                    {% endfor %} -->
                </div>
            </div>
        </div>
    </section>
    <!-- BLOG DETAIL SECOND SECTION END ********************************************* -->

    <!-- BLOG DETAIL THIRD SECTION START ********************************************* -->
    <section class="blog_detail_third_section">
        <div class="blog_detail_third_section_wrapper">
            <div class="sidebar">
                <div class="sidebar_wrapper">
                    <div class="share_container">
                        <h4 class="share">Share</h4>
                        <div class="share_icons_container">
                            <a href="">
                                <img src="{% static 'img/linkedin_share.svg' %}" alt="">
                            </a>
                            <a href="">
                                <img src="{% static 'img/facebook_share.svg' %}" alt="">
                            </a>
                            <a href="">
                                <img src="{% static 'img/whatsapp_share.svg' %}" alt="">
                            </a>
                            <a href="">
                                <img src="{% static 'img/twitter_share.svg' %}" alt="">
                            </a>
                        </div>
                    </div>
                    <ul class="blog_detail_second_left_unorder_list bdt_links">
                        <p class="blog_detail_third_title">contents</p>
                        <div class="links_bundle">
                            {% for section in sections %}
                                {% if section.heading %}
                                    <li><a href="#section-{{ forloop.counter }}">{{section.heading}}</a></li>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </ul>
                </div>
            </div>
            <div class="right_side">
                <div class="right_side_wrapper">
                    {% if sections %}
                    {% for section in sections %}
                    <div class="links_container">
                        <span id="section-{{ forloop.counter }}"></span>
                        {% if section.heading %}
                        <h2 class="head">
                            <a href=""><img src="{% static 'img/share_icon.svg' %}" alt=""></a>
                            <span>{{ section.heading }}</span>
                        </h2>
                        {% endif %}
                        {{ section.content | safe }}
                    </div>
                    {% endfor %}
                    {% else %}
                        <p>No sections available.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!-- BLOG DETAIL THIRD SECTION END ********************************************* -->

    <!-- BLOG DETAIL FOURTH SECTION START ********************************************* -->
     <section class="blog_detail_fourth_section">
        <div class="blog_detail_fourth_section_wrapper">
            <h2 class="blog_detail_fourth_section_title">Related Posts</h2>
            <div class="blog_post_container">
                {% for blog in all_post %} 
                <a href="{% url 'blog_detail' blog.slug %}" class="blog_post_box">
                    <figure class="blogpost_img">
                        <img src="{{ blog.image.url }}" alt="{{ blog.title }}" alt="">
                    </figure>
                    <div class="blog_post_content">
                        <div class="blog_topic_time_container">
                            <p class="samay">{{ blog.created_at|date:"j F Y" }}</p>
                            <p class="hot_topic">{{ blog.categories.name }}</p>
                        </div>
                        <h3 class="blog_content_title">
                            {{ blog.title }}
                        </h3>
                    </div>
                </a>
                {% endfor %}
                <!-- <a href="" class="blog_post_box">
                    <figure class="blogpost_img">
                        <img src="{% static 'img/blog1.jpg' %}" alt="">
                    </figure>
                    <div class="blog_post_content">
                        <div class="blog_topic_time_container">
                            <p class="samay">11 November 2024</p>
                            <p class="hot_topic">Branding</p>
                        </div>
                        <h3 class="blog_content_title">
                            What Is Branding? Why It Is The Foundation Of Every Successful Business?
                        </h3>
                    </div>
                </a> -->
            </div>
        </div>
     </section>
    <!-- BLOG DETAIL FOURTH SECTION END ********************************************* -->

    <!-- CTA PROCESS START *********************************************** -->

  <section id="cta_process_section" class="cta">
    <div class="cta_process_wrapper cta_mob above_cta">
      <div class="cta_lines_container">
        <div class="cl1"></div>
        <div class="cl2"></div>
        <div class="cl3"></div>
        <div class="cl4"></div>
        <div class="cl5"></div>
        <div class="cl6"></div>
        <div class="ch1"></div>
        <div class="ch2"></div>
        <div class="ch3"></div>
        <div class="ch4"></div>
        <div class="ch5"></div>
        <div class="ch6"></div>
        <div class="ch7"></div>
        <div class="ch8"></div>
        <div class="ch9"></div>
        <div class="ch10"></div>
        <div class="ch11"></div>
        <div class="ch12"></div>
        <div class="ch13"></div>
        <div class="ch14"></div>
        <div class="ch15"></div>
        <div class="ch16"></div>
        <div class="ch17"></div>
        <div class="ch18"></div>
        <div class="ch19"></div>
      </div>
      <div class="cta_left">
        <h2 id="cta_process_title">Ready to Elevate Your Brand?</h2>
        <p id="cta_para">Our expert team is here to bring your vision to life with customized solutions that drive growth.</p>
      </div>
      <a href="contact.html" id="contact_cta_btn" class="work_together_btn">Let’s Work Together</a>
    </div>
  </section>

  <!-- CTA PROCESS END *********************************************** -->

{% endblock %}
  
{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
        integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
        integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>


    <script src="{% static 'js/blog_detail.js' %}"></script>
    <script src="{% static 'js/animation.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}