{% extends 'base.html' %}
{% load static %}

{% block title %} JSwebart Blog | Branding, Digital Marketing &amp; Design Insights {% endblock %}

{% block meta %} 

    <meta name="description"
        content="Stay updated with expert tips on branding, digital marketing, web development, and more. Our blog offers strategies to drive success across industries." />
    <!-- <link rel="canonical" href="https://jswebart.com/blog/" /> -->

    {% if noindex %}
    <meta name="robots" content="noindex, nofollow">
    {% else %}
    <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large"/>
    {% endif %}
    <!-- FOR META -->
    <!-- FOR TELEGRAM -->
    <meta prefix="og: https://.me/ns#" /> 
    <!-- FOR TELEGRAM -->
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content=" JSwebart Blog | Branding, Digital Marketing &amp; Design Insights  " />
    <meta property="og:description" content="Stay updated with expert tips on branding, digital marketing, web development, and more. Our blog offers strategies to drive success across industries." />
    <meta property="og:url" content="https://jswebart.com/blog/" />
    <meta property="og:site_name" content="JSwebart" />
    <meta property="og:image" content="https://jitbherwaniofficial.github.io/jswebart-staticfiles/img/js.png" />
    <meta property="og:image:secure_url" content="https://jitbherwaniofficial.github.io/jswebart-staticfiles/img/js.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:alt" content=" JSwebart Logo" />
    <meta property="og:image:type" content="image/png" />
    
    <!-- FOR META END -->   
     
    <!-- Twitter card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content=" JSwebart Blog | Branding, Digital Marketing &amp; Design Insights  " />
    <meta name="twitter:description" content="Stay updated with expert tips on branding, digital marketing, web development, and more. Our blog offers strategies to drive success across industries." />
    <meta name="twitter:image" content="https://jitbherwaniofficial.github.io/jswebart-staticfiles/img/js.png" />
    <meta name="twitter:label1" content="Services" />
    <meta name="twitter:data1" content="Branding, Web Design, Digital Marketing, UI/UX Design, Packaging Design, Print Design" />
    <meta name="twitter:label2" content="Location" />
    <meta name="twitter:data2" content="Mumbai, India" />
   <!-- Twitter card End -->

   

       

           <!-- BREADCRUMBS -->
           <script type="application/ld+json">
               {
                 "@context": "https://schema.org/", 
                 "@type": "BreadcrumbList", 
                 "itemListElement": [{
                   "@type": "ListItem", 
                   "position": 1, 
                   "name": "Home",
                   "item": "https://jswebart.com/"  
                 },{
                   "@type": "ListItem", 
                   "position": 2, 
                   "name": "Blog",
                   "item": "https://jswebart.com/blog/"  
                 }]
               }
               </script>

    {% if canonical_url %}
        <link rel="canonical" href="{{ canonical_url }}">
    {% endif %}
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" href="{% static 'css/contact.css' %}" />
    <link rel="stylesheet" href="{% static 'css/portfolio.css' %}" />
<link rel="stylesheet" href="{% static 'css/blogs.css' %}" />
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
{% endblock %}    

{% block content %}
    <!-- HERO SECTION START ******************************** -->

    <section class="portfolio_hero_section">
        <div class="portfolio_wrapper">
            <h1 class="portfolio_title">Blogs
                <p class="portfolio_para">Insights, Ideas, and News on Design, Technology, and Marketing—Pen Down by the Experts at JSwebart.</p>
            </h1>

            <nav class="portfolio_nav">
                <a href="{% url 'blog' %}" title="blog page" data-url="{% url 'blog' %}" class="{% if not current_category %}active{% endif %}">
                    View All
                </a>
                <!-- {% for category in categories %}
                {% if category.slug != "view-all" %}
                <a class="{% if current_category and current_category.slug == category.slug %}active{% endif %}" href="{% url 'blog_by_category' category_slug=category.slug %}">{{ category.name }}</a>
                {% endif %}
                {% endfor %} -->
                {% for category in categories %}
                <a href="{% url 'blog_by_category' category_slug=category.slug %}" rel="nofollow"
                    class="{% if current_category and current_category.slug == category.slug %}active{% endif %}"
                    data-url="{% url 'blog_by_category' category_slug=category.slug %}">
                    {{ category.name }}
                </a>
                {% endfor %}
            </nav>


            <div class="portfolios" id="blogs">
                {% include 'partials/blog_items.html' %}
            </div>
        </div>
    </section>

    <!-- HERO SECTION END ******************************** -->
{% endblock %}

{% block scripts %}
<script>
    $(document).on('click', '.portfolio_nav a', function (e) {
        e.preventDefault();

        const url = $(this).data('url');
        const $this = $(this);

        if (!url) {
        console.error('URL is missing for this link.');
        return;
    }

     // Update the URL without reloading the page
     history.pushState(null, null, url);

        $.ajax({
            url: url,
            type: 'GET',
            dataType: 'json',
            success: function (response) {
                // Update portfolio content dynamically
                $('#blogs').html(response.html);

                // Update active class
                $('.portfolio_nav a').removeClass('active');
                $this.addClass('active');
            },
            error: function (xhr, status, error) {
                console.error('Error loading content');
            }
        });
    });
</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
        integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
        integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="{% static 'js/animation.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}