{% extends 'base.html' %}
{% load static %}

{% block title %} {{page.blog_meta_title}} {% endblock %}

{% block meta %} 

    <meta name="description"
        content="{{page.blog_meta_desc}}" />
    <link rel="canonical" href="https://jswebart.com/blog/{{page.slug}}">
    <!-- {% if canonical_url %}
        <link rel="canonical" href="{{ canonical_url }}">
    {% endif %} -->
    <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large"/>
     <!-- FOR META -->
     <!-- FOR TELEGRAM -->
     <meta prefix="og: https://.me/ns#" /> 
     <!-- FOR TELEGRAM -->
     <meta property="og:locale" content="en_US" />
     <meta property="og:type" content="Article" />
     <meta property="og:title" content="{{page.blog_meta_title}}" />
     <meta property="og:description" content="{{page.blog_meta_desc}}" />
     <meta property="og:url" content="https://jswebart.com/blog/{{page.slug}}" />
     <meta property="og:site_name" content="JSwebart" />
     <meta property="og:image" content="{{ page.image.url }}" />
     <meta property="og:image:secure_url" content="{{ page.image.url }}" />
     <meta property="og:image:alt" content="{{ page.title }}" />
     <meta property="og:image:width" content="1200" />
     <meta property="og:image:height" content="630" />
     <meta property="og:image:type" content="image/png" />
     <meta property="article:section" content="All" />
     <meta property="article:published_time" content="{{ page.created_at|date:"j F Y" }}" />
     <meta property="og:updated_time" content="{{ page.updated_at|date:"j F Y" }}" />
     
     <!-- FOR META END -->   
      
     <!-- Twitter card -->
     <meta name="twitter:card" content="summary_large_image" />
     <meta name="twitter:title" content="{{page.blog_meta_title}}" />
     <meta name="twitter:description" content="{{page.blog_meta_desc}}" />
     <meta name="twitter:image" content="{{ page.image.url }}" />
     <meta name="twitter:label1" content="Services" />
     <meta name="twitter:data1" content="Branding, Web Design, Digital Marketing, UI/UX Design, Packaging Design, Print Design" />
     <meta name="twitter:label2" content="Location" />
     <meta name="twitter:data2" content="Mumbai, India" />
    <!-- Twitter card End -->
 <!-- BREADCRUMBS -->
 <script type="application/ld+json">
    {
      "@context": "https://schema.org/", 
      "@type": "BreadcrumbList", 
      "itemListElement": [{
        "@type": "ListItem", 
        "position": 1, 
        "name": "Home",
        "item": "https://jswebart.com/"  
      },{
        "@type": "ListItem", 
        "position": 2, 
        "name": "Blog",
        "item": "https://jswebart.com/blog/"  
      },{
        "@type": "ListItem", 
        "position": 3, 
        "name": "{{page.blog_meta_title}}",
        "item": "https://jswebart.com/blog/{{page.slug}}"  
      }]
    }
    </script>
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "BlogPosting",
          "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "https://jswebart.com/blog/{{page.slug}}"
          },
          "headline": "{{page.blog_meta_title}}",
          "description": "{{page.blog_meta_desc}}",
          "image":"{{ page.image.url }}" ,  
          "author": {
            "@type": "Organization",
            "name": "JSwebart",
            "url": "https://jswebart.com/"
          },  
          "publisher": {
            "@type": "Organization",
            "name": "JSwebart",
            "logo": {
              "@type": "ImageObject",
              "url": "https://jitbherwaniofficial.github.io/jswebart-staticfiles/img/jswebart_logo.svg"
            }
          },
          "datePublished": "{{ page.created_at|date:"j F Y" }}",
          "dateModified": "{{ page.updated_at|date:"j F Y" }}"
        }
        </script>
    
        
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" href="{% static 'css/about-us.css' %}" />
<link rel="stylesheet" href="{% static 'css/blog_detail.css' %}">
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
{% endblock %}

{% block content %}
    <!-- HERO SECTION START *********************************************** -->
    <section class="blog_detail_hero_section">
        <figure class="cover_img">
            <img src="{{ page.image.url }}" alt="{{ page.title }}" >
        </figure>
        <div class="cover_part">
            <div class="cover_content_container">
                <p class="category_name">{{page.categories.name}}</p>
                <h1 class="blog_detail_title">{{ page.title }}</h1>
                <div class="cover_bottom">
                    <address class="writtenby">Written by <a href="{% url 'home' %}" title="home page">JSwebart</a></address>
                    <p class="timeandreadtime">
                        {{ page.created_at|date:"j F Y" }}
                    </p>
                    <p class="timeandreadtime">
                        {{ page.get_total_read_time }} min read
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- HERO SECTION END *********************************************** -->

    <!-- BLOG DETAIL SECOND SECTION START ********************************************* -->
    <section class="blog_detail_second_section">
        <div class="blog_detail_section_wrapper">
            <div class="blog_detail_second_left">
                <div class="blog_detail_second_left_para">{{page.desc | safe}}</div>
                <ul class="blog_detail_second_left_unorder_list">
                    <p class="blog_detail_second_left_para_2">
                        The key topics you will learn in this post:
                    </p>
                    {% for section in sections %}
                        {% if section.heading %}
                            <li><a href="#section-{{ forloop.counter }}">{{section.heading}}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="blog_detail_second_right">
                <div class="tab_left">
                    <div class="brand_logo_blog_container">
                        <figure class="brand_logo_blog">
                            <img src="{% static 'img/jswebart_logo.svg' %}" alt="JSwebart logo">
                        </figure>
                        <h3 class="brand_name">JSwebart</h3>
                    </div>
                    <p class="blog_detail_second_right_para">
                        JSwebart is one of the leading branding and design agencies, with more than 6 years of expertise in the industry. Within this period, our team has delivered exceptional brands that are impacting future on local, national and global levels. Apart from <a href="{% url 'branding_services' %}" title="branding service link">brand identity design</a>, Jswebart also provides <a href="{% url 'ui_ux_services' %}" title="ui ux design service">UI/UX design</a>, <a href="{% url 'web_development_services' %}" title="web development service">web development</a>, <a href="{% url 'packaging_design_services' %}" title="packaging design service">packaging design</a>, <a href="{% url 'digital_marketing_services' %}" title="digital marketing service">digital marketing</a> and <a href="{% url 'print_design_services' %}" title="print design service">print design services</a>.
                    </p>
                    <div class="blog_social_link_container">
                        <a title="Link redirecting to LinkedIn Page" target="_blank" rel="noreferrer noopener" aria-label="LinkedIn" href="https://www.linkedin.com/company/jswebart/">Linkedin</a>
                        <a title="Link redirecting to Instagram Page" target="_blank" rel="noreferrer noopener" aria-label="Instagram" href="https://www.instagram.com/jswebart_branding/">Instagram</a>
                        <a title="Link redirecting to Facebook Page" target="_blank" rel="noreferrer noopener" aria-label="Facebook" href="https://www.facebook.com/JSwebart">Facebook</a>
                        <a title="Link redirecting to Twitter Page" target="_blank" rel="noreferrer noopener" aria-label="Twitter" href="https://x.com/JSwebart">Twitter</a>
                    </div>
                </div>
                <div class="insights_container">
                    <p class="insights_para">Subscribe for insights, case studies, and updates penned by the experts at
                        JSwebart.</p>
                    <form action="{% url 'subscribe' %}" method="post" class="insights_form subscription-form" id="subscriptionForm">
                        {% csrf_token %}
                        <div class="form_input">
                            <input type="email" name="email" placeholder="Enter Your Email" id="">
                        </div>
                        <button class="g-recaptcha" data-sitekey="{{SHARE_SITE_KEY}}" class="subscribe" type="submit">Subscribe</button>
                    </form>
                    <!-- {% for message in messages %}
                        <p class="subscribe_message">{{ message }}</p>
                    {% endfor %} -->
                </div>
            </div>
        </div>
    </section>
    <!-- BLOG DETAIL SECOND SECTION END ********************************************* -->

    <!-- BLOG DETAIL THIRD SECTION START ********************************************* -->
    <section class="blog_detail_third_section">
        <div class="blog_detail_third_section_wrapper">
            <div class="sidebar">
                <div class="sidebar_wrapper">
                    <div class="share_container">
                        <h4 class="share">Share</h4>
                        <div class="share_icons_container">
                            <a title="Link redirecting to LinkedIn Page" target="_blank" rel="noreferrer noopener" aria-label="LinkedIn" href="https://www.linkedin.com/">
                                <img src="{% static 'img/linkedin_share.svg' %}" alt="LinkedIn">
                            </a>
                            <a title="Link redirecting to Facebook Page" target="_blank" rel="noreferrer noopener" aria-label="Facebook" href="https://www.facebook.com/">
                                <img src="{% static 'img/facebook_share.svg' %}" alt="Facebook">
                            </a>
                            <a title="Link redirecting to Whatsapp Page" target="_blank" rel="noreferrer noopener" aria-label="Whatsapp" href="https://api.whatsapp.com/">
                                <img src="{% static 'img/whatsapp_share.svg' %}" alt="Whatsapp">
                            </a>
                            <a title="Link redirecting to X Page" target="_blank" rel="noreferrer noopener" aria-label="X" href="https://www.x.com/">
                                <img src="{% static 'img/twitter_share.svg' %}" alt="Twitter">
                            </a>
                        </div>
                    </div>
                    <ul class="blog_detail_second_left_unorder_list bdt_links">
                        <p class="blog_detail_third_title">contents</p>
                        <div class="links_bundle">
                            {% for section in sections %}
                                {% if section.heading %}
                                    <li><a href="#section-{{ forloop.counter }}">{{section.heading}}</a></li>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </ul>
                </div>
            </div>
            <div class="right_side">
                <div class="right_side_wrapper">
                    {% if sections %}
                    {% for section in sections %}
                    <div class="links_container">
                        <span id="section-{{ forloop.counter }}"></span>
                        {% if section.heading %}
                        <h2 class="head">
                            <!-- <a href=""><img src="{% static 'img/share_icon.svg' %}" alt=""></a> -->
                            <span>{{ section.heading }}</span>
                        </h2>
                        {% endif %}
                        {{ section.content | safe }}
                    </div>
                    {% endfor %}
                    {% else %}
                        <p>No sections available.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!-- BLOG DETAIL THIRD SECTION END ********************************************* -->

    <!-- BLOG DETAIL FOURTH SECTION START ********************************************* -->
     <section class="blog_detail_fourth_section">
        <div class="blog_detail_fourth_section_wrapper">
            <h2 class="blog_detail_fourth_section_title">Related Posts</h2>
            <div class="blog_post_container">
                {% for blog in all_post %} 
                <a href="{% url 'blog_detail' blog.slug %}" class="blog_post_box">
                    <figure class="blogpost_img">
                        <img src="{{ blog.image.url }}" alt="{{ blog.title }}" >
                    </figure>
                    <div class="blog_post_content">
                        <div class="blog_topic_time_container">
                            <p class="samay">{{ blog.created_at|date:"j F Y" }}</p>
                            <p class="hot_topic">{{ blog.categories.name }}</p>
                        </div>
                        <h3 class="blog_content_title">
                            {{ blog.title }}
                        </h3>
                    </div>
                </a>
                {% endfor %}
                <!-- <a href="" class="blog_post_box">
                    <figure class="blogpost_img">
                        <img src="{% static 'img/blog1.jpg' %}" alt="">
                    </figure>
                    <div class="blog_post_content">
                        <div class="blog_topic_time_container">
                            <p class="samay">11 November 2024</p>
                            <p class="hot_topic">Branding</p>
                        </div>
                        <h3 class="blog_content_title">
                            What Is Branding? Why It Is The Foundation Of Every Successful Business?
                        </h3>
                    </div>
                </a> -->
            </div>
        </div>
     </section>
    <!-- BLOG DETAIL FOURTH SECTION END ********************************************* -->

    <!-- CTA PROCESS START *********************************************** -->

  <section id="cta_process_section" class="cta">
    <div class="cta_process_wrapper cta_mob above_cta">
      <div class="cta_lines_container">
        <div class="cl1"></div>
        <div class="cl2"></div>
        <div class="cl3"></div>
        <div class="cl4"></div>
        <div class="cl5"></div>
        <div class="cl6"></div>
        <div class="ch1"></div>
        <div class="ch2"></div>
        <div class="ch3"></div>
        <div class="ch4"></div>
        <div class="ch5"></div>
        <div class="ch6"></div>
        <div class="ch7"></div>
        <div class="ch8"></div>
        <div class="ch9"></div>
        <div class="ch10"></div>
        <div class="ch11"></div>
        <div class="ch12"></div>
        <div class="ch13"></div>
        <div class="ch14"></div>
        <div class="ch15"></div>
        <div class="ch16"></div>
        <div class="ch17"></div>
        <div class="ch18"></div>
        <div class="ch19"></div>
      </div>
      <div class="cta_left">
        <h2 id="cta_process_title">Ready to Elevate Your Brand?</h2>
        <p id="cta_para">Our expert team is here to bring your vision to life with customized solutions that drive growth.</p>
      </div>
      <a href="contact.html" title="contact page link" id="contact_cta_btn" class="work_together_btn">Let’s Work Together</a>
    </div>
  </section>

  <!-- CTA PROCESS END *********************************************** -->
   
{% endblock %}
  
{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
        integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
        integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>


    <script src="{% static 'js/blog_detail.js' %}"></script>
    <script src="{% static 'js/animation.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}