{% extends 'base.html' %}
{% load static %}
{% block title %} Privacy Policy | Your Data Security Matters{% endblock %}
{% block meta %}
    <meta name="description"
        content="Learn how we collect, use, and protect your personal information. We are committed to safeguarding your privacy and keeping your data secure." />
    <link rel="canonical" href="https://jswebart.com/privacy-policy/" />
    <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large"/>
    <!-- FOR META -->
    <!-- FOR TELEGRAM -->
    <meta prefix="og: https://.me/ns#" /> 
    <!-- FOR TELEGRAM -->
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Privacy Policy | Your Data Security Matters" />
    <meta property="og:description" content="Learn how we collect, use, and protect your personal information. We are committed to safeguarding your privacy and keeping your data secure." />
    <meta property="og:url" content="https://jswebart.com/privacy-policy/" />
    <meta property="og:site_name" content="JSwebart" />
    <meta property="og:image" content="https://jitbherwaniofficial.github.io/jswebart-staticfiles/img/js.png" />
    <meta property="og:image:secure_url" content="https://jitbherwaniofficial.github.io/jswebart-staticfiles/img/js.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:alt" content=" JSwebart Logo" />
    <meta property="og:image:type" content="image/png" />
    
    <!-- FOR META END -->   
     
    <!-- Twitter card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Privacy Policy | Your Data Security Matters" />
    <meta name="twitter:description" content="Learn how we collect, use, and protect your personal information. We are committed to safeguarding your privacy and keeping your data secure." />
    <meta name="twitter:image" content="https://jitbherwaniofficial.github.io/jswebart-staticfiles/img/js.png" />
    <meta name="twitter:label1" content="Services" />
    <meta name="twitter:data1" content="Branding, Web Design, Digital Marketing, UI/UX Design, Packaging Design, Print Design" />
    <meta name="twitter:label2" content="Location" />
    <meta name="twitter:data2" content="Mumbai, India" />
   <!-- Twitter card End -->

   
    
       <!-- BREADCRUMBS -->
<script type="application/ld+json">
   {
     "@context": "https://schema.org/", 
     "@type": "BreadcrumbList", 
     "itemListElement": [{
       "@type": "ListItem", 
       "position": 1, 
       "name": "Home",
       "item": "https://jswebart.com/"  
     },{
       "@type": "ListItem", 
       "position": 2, 
       "name": "Privacy Policy",
       "item": "https://jswebart.com/privacy-policy/"  
     }]
   }
   </script>
{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" href="{% static 'css/ptnc.css' %}" />
<link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
{% endblock %}

{% block content %}
    <section class="privacy_section">
        <div class="privacy_wrapper">
            <h1 class="p_head">
                Privacy Policy
            </h1>
            <div class="p_points">
                <div class="p_points_wrapper">
                    <h2 class="p_sub_points">
                        1. Introduction
                    </h2>
                    <p class="p_sub_points_para">
                        Welcome to <a href="{% url 'home' %}" title="home page link">JSwebart’s</a> Privacy Policy. Your privacy and trust matter deeply to us, and we are dedicated to safeguarding your personal information. This document outlines the types of data we collect, why we collect it, and how we use and protect it. Our goal is to provide services that not only meet your needs but also exceed your expectations while maintaining the highest standards of privacy and security.
                    </p>
                    <p class="p_sub_points_para">
                        We collect information about our customers and site visitors to enhance your experience, including both identifiable personal information and non-identifiable data. Identifiable personal information is gathered when you interact with our services, such as subscribing, making transactions, or filling out forms on our website. Non-identifiable data is automatically collected when you visit our platforms, ensuring seamless functionality and personalization of our services.
                    </p>
                </div>
                <div class="p_points_wrapper">
                    <h2 class="p_sub_points">
                        2. Confidentiality
                    </h2>
                    <p class="p_sub_points_para">
                        At JSwebart, we prioritize the confidentiality of all personal data entrusted to us. Your information is handled with the utmost care, ensuring it is not shared, sold, or misused for any commercial or marketing purposes. We are committed to maintaining your trust and providing transparency in how your data is used.
                    </p>
                </div>
                <div class="p_points_wrapper">
                    <h2 class="p_sub_points">
                        3. Collection of Personal Data
                    </h2>
                    <ul class="p_sub_points_ul">
                        <p class="ul_p">To provide a superior experience, JSwebart collects information through various channels:</p>
                        <li>
                            <p class="li_p">
                                Website Interactions: Data is collected when you navigate through our websites or those hosted by us.
                            </p>
                        </li>
                        <li>
                            <p class="li_p">
                                Service Subscriptions: Information provided during sign-ups or service applications.
                            </p>
                        </li>
                        <li>
                            <p class="li_p">
                                Questionnaires and Feedback Forms: Input from customer surveys and forms.
                            </p>
                        </li>
                        <li>
                            <p class="li_p">
                                Cookies: Small files stored on your device that enhance user experience by remembering preferences and optimizing performance.
                            </p>
                        </li>
                    </ul>
                    <p class="p_sub_points_para">
                        Additionally, we may supplement this information with data from trusted affiliates or partners. While you can disable cookies in your browser settings, this may limit the functionality of certain features on our website.
                    </p>
                </div>
                <div class="p_points_wrapper">
                    <h2 class="p_sub_points">
                        4. Use of Personal Data
                    </h2>
                    <ul class="p_sub_points_ul">
                        <p class="ul_p">Your data is used to:</p>
                        <li>
                            <p class="li_p">
                                Provide customized services and improve your overall experience.
                            </p>
                        </li>
                        <li>
                            <p class="li_p">
                                Notify you about relevant products, services, or updates.
                            </p>
                        </li>
                        <li>
                            <p class="li_p">
                                Share anonymized, aggregated insights with partners to improve offerings.
                            </p>
                        </li>
                    </ul>
                    <p class="p_sub_points_para">
                        You have the option to opt-out of promotional communications at any time by contacting our support team at +91-9167674367. Rest assured, any shared data is stripped of personal identifiers and is only used for analytical purposes.
                    </p>
                </div>
                <div class="p_points_wrapper">
                    <h2 class="p_sub_points">
                        5. Activity Records and Device Information
                    </h2>
                    <ul class="p_sub_points_ul">
                        <p class="ul_p">For administrative and security purposes, we may log:</p>
                        <li>
                            <p class="li_p">
                                Websites you visit.
                            </p>
                        </li>
                        <li>
                            <p class="li_p">
                                Your device’s IP address.
                            </p>
                        </li>
                        <li>
                            <p class="li_p">
                                Details about your browser and operating system.
                            </p>
                        </li>
                    </ul>
                    <p class="p_sub_points_para">
                        This data helps us monitor performance and prevent misuse, but it cannot be used to identify you personally.
                    </p>
                </div>
                <div class="p_points_wrapper">
                    <h2 class="p_sub_points">
                        6. Public Interactions
                    </h2>
                    <p class="p_sub_points_para">
                        Content shared in public forums hosted by JSwebart (e.g., chat rooms or bulletin boards) is visible to all users. Please exercise caution when sharing personal information in these spaces, as JSwebart cannot ensure privacy in such public domains.
                    </p>
                </div>
                <div class="p_points_wrapper">
                    <h2 class="p_sub_points">
                        7. Third-Party Links
                    </h2>
                    <p class="p_sub_points_para">
                        Our website may contain links to third-party sites. While we strive to partner with reputable entities, JSwebart cannot take responsibility for the privacy practices of external websites. We encourage you to review the privacy policies of any third-party sites you visit.
                    </p>
                </div>
                <div class="p_points_wrapper">
                    <h2 class="p_sub_points">
                        8. Minors
                    </h2>
                    <p class="p_sub_points_para">
                        JSwebart does not knowingly collect personal data from individuals under the age of 18 without verified parental or guardian consent. We strictly adhere to all applicable laws to protect minors and ensure their safety online.
                    </p>
                </div>
                <div class="p_points_wrapper">
                    <h2 class="p_sub_points">
                        9. Legal Disclosures
                    </h2>
                    <ul class="p_sub_points_ul">
                        <p class="ul_p">JSwebart reserves the right to disclose user information in the following scenarios:</p>
                        <li>
                            <p class="li_p">
                                Compliance with legal obligations or law enforcement requests.
                            </p>
                        </li>
                        <li>
                            <p class="li_p">
                                Protection of our rights or to defend against legal claims.
                            </p>
                        </li>
                        <li>
                            <p class="li_p">
                                Prevention of illegal activities or threats to network security.
                            </p>
                        </li>
                    </ul>
                    <p class="p_sub_points_para">
                        We may monitor network traffic to safeguard our systems and ensure uninterrupted service.
                    </p>
                </div>
                <div class="p_points_wrapper">
                    <h2 class="p_sub_points">
                        10. Policy Updates
                    </h2>
                    <p class="p_sub_points_para">
                        JSwebart may revise this Privacy Policy to reflect changes in our practices, technology, or legal requirements. In case of significant updates, we will notify you through email or a website announcement. We encourage you to periodically review this policy to stay informed.
                    </p>
                    <p class="p_sub_points_para">
                        Your trust fuels our commitment to excellence. If you have any questions or concerns, please reach out to us for clarification or support.
                    </p>
                </div>
                <div class="p_points_wrapper">
                    <h2 class="p_sub_points">
                        11. Contact Us
                    </h2>
                    <ul class="p_sub_points_ul">
                        <p class="ul_p">For questions or concerns regarding this Privacy Policy, please contact us at:</p>
                        <li>
                            <strong>Email:</strong>
                            <a class="an" href="mailto:info@jswebart.com" rel="nofollow" title="Email address to contact">
                                info@jswebart.com
                            </p>
                        </li>
                        <li>
                            <strong>Phone:</strong>
                            <a class="an" href="tel:+919167674367"  rel="nofollow" title="Phone no to contact">
                                +91-9167674367
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
        integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
        integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="{% static 'js/contact.js' %}"></script>
        <script src="{% static 'js/index.js' %}"></script>
{% endblock %}